:root {
    --cf-dark: #212121;
    --cf-light: #ebebeb;
    --cf-darkblue: #00223d;
    --cf-highlight: #fae100;

    /*Google Fonts Quiz Part*/
    --ss-title-font: "Racing Sans One", sans-serif;
    --ss-body-font: "Roboto", sans-serif;
    --ss-subtitle-font: "Fira Sans", sans-serif;
}

/* Quiz Part */
main{
    background-color: var(--cf-darkblue);
    background-color: transparent;
    flex: 1 0 auto;
}

html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("/img/LandingPage_1920.png");
    background-position: top right;
    background-repeat: no-repeat;
}

/* Quiz Part */
.mainTitle{
    font-family: var(--ss-title-font);
    color: var(--cf-light);
    font-size: 4rem;
}

/* Quiz Part */
.subTitle{
    font-family: var(--ss-subtitle-font);
    color: var(--cf-light); 
    font-size: 2rem;   
}

/* Quiz Part */
.logoHeight{
    height: 50px;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/* Small devices (landscape phones, 576px and up) */


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px)  {
  .mainHeader{
    background-image: url(/img/HostingPro992.png);
    height: 300px;
}
    
.mainWrapper{
    font-size: 1.6rem;
    width: 47%;
}

.mainTitle{
   line-height:1.6rem;
}

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .mainHeader{
    background-image: url(/img/HostingPro1200.png);
    height: 400px;
}
    
.mainWrapper{
    font-size: 2.5rem;
    width: 50%;
}

.mainTitle{
   line-height: 2.5rem;
}

} 

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
 .mainHeader{
    background-image: url(/img/HostingPro2560.png);
    height: 500px;
}
    
.mainWrapper{
    font-size: 2.8rem;
    width: 45%;
}

.mainTitle{
   line-height: 2.8rem;
}

} 
